
/* BOOTSTRAP RESETS THIS IS INCLUDED WITH THE BOOTSTRAP.MIN.CSS file */

.dropdown-menu > li > a:hover, 
.dropdown-menu > li.active > a, 
.dropdown-menu > li.active > a:hover {background:#53a3b7;}

input.focused {
		border-color: rgba(82, 168, 236, 0.8);
		outline: 0;
		outline: thin dotted \9;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.nav-tabs > li.active > a {
		background:#D8DFE5;
}
.nav-tabs a {
		border-color:#D8DFE5!important;
}
.nav > li > a:hover {
		background-color: #d8dfe5;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
}
.caret {
		border-top: 4px solid #fff;
}
.nav-collapse .nav > li > a,  .nav-collapse .dropdown-menu a {
		color: #758694;
}
.navbar .nav > li > a {
		color: #758694;
}
.navbar .nav li.dropdown > a:hover .caret {
		border-top-color: #758694;
		border-bottom-color: #758694;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
		border-top-color: #758694;
		border-bottom-color: #758694;
}
.btn {
		cursor: pointer;
		color: #fff;
		background: #a3b0bb;
		border: 1px solid #a3b0bb;
}
.btn:hover, .btn:active, .btn:focus, .btn.active, .btn.disabled, .btn[disabled] {
		border-color: #8594a0;
		background:#8594a0;
		color: #fff;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

}
.btn.disabled, .btn[disabled] {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
}
.btn-primary {
		color: #fff;
		background: #53a3b7;
		border-color: #53a3b7;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
		color: #fff;
		background-color: #2b778a;
		border-color: #2b778a;
}
.btn-warning {
		color: #fff;
		background: #faa732;
		border-color: #faa732;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
		color: #fff;
		background: #f89406;
		border-color: #faa732;
}
.btn-danger {
		color: #fff;
		background: #da4f49;
		border-color: #da4f49;
}
.btn-danger:hover, .btn-danger:active,.btn-danger:focus, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
		color: #fff;
		background-color: #bd362f;
		border-color: #bd362f;
}
.btn-success {
		color: #fff;
		background: #5bb75b;
		border-color: #5bb75b;
}
.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
		color: #fff;
		background-color: #51a351;
		border-color: #51a351;
}
.btn-info {
		color: #fff;
		background: #73bcd2;
		border-color: #73bcd2;
}
.btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
		color: #fff;
		background-color: #2f96b4;
		border-color: #2f96b4;
}
.btn-inverse {
		color: #fff;
		background: #576674;
		border-color: #576674;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse:focus, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
		color: #fff;
		background-color: #222;
		border-color: #222;
}
.btn-group > .btn.dropdown-toggle {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
}
.btn-group.open .btn.dropdown-toggle {
		background: #8594a0;
}
.btn-group.open .btn-primary.dropdown-toggle {
		background: #2b778a;
}
.btn-group.open .btn-warning.dropdown-toggle {
		background: #f89406;
}
.btn-group.open .btn-danger.dropdown-toggle {
		background: #bd362f;
}
.btn-group.open .btn-success.dropdown-toggle {
		background: #51a351;
}
.btn-group.open .btn-info.dropdown-toggle {
		background: #2f96b4;
}
.btn-group.open .btn-inverse.dropdown-toggle {
		background: #222222;
}
.thumbnails {
		margin-left: -20px;
		list-style: none;
*zoom: 1;
}
.thumbnails:before, .thumbnails:after {
		display: table;
		content: "";
		line-height: 0;
}
.thumbnails:after {
		clear: both
}
.row-fluid .thumbnails {
		margin-left: 0
}
.navbar .navbar-inner {
		background-color: #d8dfe5;
		background-image:none;
		border: 1px solid #c7cfd6;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
		background-color: #a3b0bb;
		color: #4c5966;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
}
.nav-list>li>a, .nav-list .nav-header, .nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus, .navbar .brand, .navbar .brand:hover, .navbar .brand:focus, .navbar .nav>li>a {
		text-shadow:none
}
.navbar .brand {
		color: #758694;
}
.navbar .brand:hover {
		text-decoration: none;
}
.navbar-text {
		margin-bottom: 0;
		line-height: 40px;
		color: #777777;
}
.navbar-link {
		color: #777777;
}
.navbar-link:hover {
		color: #333333;
}
.navbar .divider-vertical {
		border-left: 1px solid #c7cfd6;
		border-right: 1px solid transparent;
}
.navbar-inverse .divider-vertical {
		border-left-color: #758694;
		border-right-color: transparent;
}



.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
		color: #576674;
		text-decoration: none;
		background-color: #a3b0bb;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
		color: #ffffff;
		background-color: #4c5966;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
		background-color: #4c5966;
		color: #ffffff;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
}
.navbar-inverse .navbar-search .search-query {
		color: #ffffff;
		background-color: #4c5966;
		border-color: #4c5966;
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
		box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.15);
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
}
.navbar-inverse .nav li.dropdown > a:hover .caret {
		border-top-color: #ffffff;
		border-bottom-color: #ffffff;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
		border-top-color: #a3b0bb;
		border-bottom-color: #a3b0bb;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
		color: #a3b0bb;
}
.navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover {
		color: #ffffff;
}
.navbar-inverse .brand {
		color: #a3b0bb;
}
.navbar-inverse .navbar-text {
		color: #a3b0bb;
}
.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover {
		background-color: transparent;
		color: #ffffff;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
		color: #ffffff;
		background-color: #4c5966;
}
.navbar-inverse .navbar-link {
		color: #a3b0bb;
}
.navbar-inverse .navbar-link:hover {
		color: #ffffff;
}
.navbar-inverse .navbar-inner {
		background-color: #576674;
		border-color: #576674;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
		background-color: #53a3b7;
		background-image:transparent;
}
.dropdown-menu a {
		text-decoration: none;
}
.nav-pills > li > a {
		background:#D8DFE5;
}

.progress {
  background-color: #e3e6e9;
  background-image: none;
  filter: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hero-unit {
		padding: 0;
		margin-bottom: 0;
		background-color:transparent;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
}
.hero-unit h1 {
		margin-bottom: 0;
		font-size: 1;
		line-height: normal;
		color: inherit;
		letter-spacing: 0px;
}
.hero-unit li {
		line-height: normal
}
.close {
		float: right;
		font-size: 20px;
		font-weight: bold;
		line-height: 20px;
		color: #000000;
		text-shadow: 0 1px 0 #ffffff;
		opacity: 0.2;
		filter: alpha(opacity=20);
}
.close:hover {
		color: #000000;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.4;
		filter: alpha(opacity=40);
}
button.close {
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
}
.btn {
		text-decoration: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		text-shadow: none;
}
.btn-very-subtle {
		background-color: transparent;
		background-image: url(../images/7p.png);
		background-repeat: repeat;
		border-color: transparent;
		color: #576674;
}
.btn-very-subtle:hover {
		background: #444;
		color: #fff;
		border-color: #444;
		text-shadow: none;
}
input, textarea, .btn {
}
.lt-ie9 .input-append input {
		padding: 0;
		border: 0 solid #fff;
		top: 0;
}
.lt-ie8 .input-append input {
		padding: 0;
		border: 1px solid #fff;
		top: -1px;
}
.btn-group>.btn {
		margin-right: 3px
}

input[type="radio"] {
		vertical-align: text-bottom
}
input[type="checkbox"] {
		vertical-align: bottom;
*vertical-align: baseline;
}
.ie6 input {
		vertical-align: text-bottom
}
label, input[type=button], input[type=submit], button {
		cursor: pointer
}
label.radio.inline {
		margin-right: 5px
}
.radio.inline, .checkbox.inline {
		display: inline-block;
		padding-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
}
.radio.inline+.radio.inline, .checkbox.inline+.checkbox.inline {
		margin-left: 10px
}
.control-group.error>label, .control-group.error .help-block, .control-group.error .help-inline {
		color: #fa4700
}
label.error {
		color: #fa4700;
		font-size: 80%;
		font-style: oblique;
}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
		color: #fa4700
}
.control-group.error input, .control-group.error select, .control-group.error textarea {
		border-color: #fa4700
}
.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
		border-color: #fa4700
}
.table td, .table, .table th {
		-webkit-border-radius: 0!important;
		-moz-border-radius: 0!important;
		border-radius: 0!important;
}
.pager {
		margin: 20px 0;
		list-style: none;
		text-align: center;
*zoom: 1;
		text-transform: lowercase;
}
.pager:before, .pager:after {
		display: table;
		content: "";
		line-height: 0;
}
.pager:after {
		clear: both
}
.pager li {
		display: inline
}
.pager li>a, .pager li>span {
		display: inline-block;
		padding: 5px 14px 5px 0;
		border: 0;
		background: transparent;
}
.pager li>a:hover {
		text-decoration: underline;
		background: transparent;
}
.pager .next>a, .pager .next>span {
		float: right
}
.pager .previous>a, .pager .previous>span {
		float: left
}
.pager.border {
		border-top: 1px dotted #a3b0bb
}
.pager.right {
		text-align: right
}
.pager.left {
		text-align: left
}
.pager li {
		border-right: 1px dotted #a3b0bb
}
.pager li:last-child {
		padding-left: 14px;
		border: 0;
}
.pager a {
		text-decoration: none;
		color: #758694;
}
.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>span {
		color: #c7cfd6;
		cursor: default;
		text-decoration: none;
		background: transparent;
}
.pagination.pagination-footer {
		border-top: 1px solid #c7cfd6;
		padding-top: 5px;
}
.pagination.no-margin {
		margin: 0!important
}


.pagination {
		margin: 20px 0
}
.pagination ul {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow:none;
		-moz-box-shadow: none;
		box-shadow: none;
}

.pagination ul>li>a:hover, .pagination ul>.active>a, .pagination ul>.active>span {
		background-color: transparent;
		background-image: url(../images/70p.png);
		color: #fff;
}
.pagination ul>.active>a, .pagination ul>.active>span {
		color: #fff!important;
		cursor: default;
}
.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover {
		background-image: none;
		background-color: #eee;
		cursor: default;
}
.pagination * {
		-webkit-border-radius: 0!important;
		-moz-border-radius: 0!important;
		border-radius: 0!important;
}

.pagination-centered {
		text-align: center
}
.pagination-right {
		text-align: right;
		position: relative;
		right: -3px;
}

.pagination.gallery-pagination {
		margin: 0
}
.pagination {
		margin: 20px 0
}

.pagination ul>li>a, .pagination ul>li>span {
		float: left;
		padding: 3px 6px;
		line-height: 20px;
		text-decoration: none;
		background-color: transparent;
		background-image: url(../images/7p.png);
		border: none;
		margin: 0 3px 0;
}
.pagination > ul > li.disabled > a {
	background:transparent url(../images/7p.png);
}